/target
.classpath
.project
.settings/
integrationTests/.classpath
integrationTests/.project
integrationTests/.settings/
integrationTests/target
plugin/target
plugin/.classpath
plugin/.project
plugin/.settings/
integrationTests/src/test/resources/com/basistech/oss/pump/child/target

